<style>
    main {
        font-family: Arial, sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;        
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #d7f0f8;
    }

    .container nav {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    .container nav a {
        text-decoration: none;
        color: #333;
        padding: 10px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        transition: background-color 0.2s;
    }
    .container nav a:hover {
        background-color: lightgray;
    }
    .username {
        margin-top: 15px;
        font-weight: bold;
        color: #555;
    }
</style>

{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <div class="container">
        <h1>База знаний</h1>
        <nav>
            <a href="/lab5/login">Вход</a>
            <a href="/lab5/register">Регистрация</a>
            <a href="/lab5/list">Список статей</a>
            <a href="/lab5/create">Создать статью</a>
        </nav>
        <div class="username">{{ login if login else "Anonymous" }}</div>
    </div>
{% endblock %}
