<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шипилов Дмитрий. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lab1/favicon.png') }}" type="image/x-icon">
    <style>
        body {
            color: {{ request.cookies.get('color') }};
            background-color: {{ request.cookies.get('bgcolor', '#ffffff') }};
            font-size: {{ request.cookies.get('font_size', '16') }}px;
            {% if request.cookies.get('bold') %}
            font-weight: bold;
            {% endif %}
        }
    </style>
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
        <a href="/">Главное меню</a>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; Шипилов Дмитрий, ФБИ-24, 3 курс, 2024
    </footer>
</body>
</html>